/*the tag selector*/
body{
    background-color:aquamarine;
}
img {
     background-color: blueviolet;      /*try to define properties alphabetically*/
    height: 150px;
    width: 100px;
}

p{
    color:blue;
}

.first_para{
    
    color:brown;
}
.red_apple{
    position:fixed;
   background-color: bisque;
    
}
.red{
    background-color: green;
    position: relative;
    top: 100px;
}
.circular{
    border-radius: 100%;
}

#special{
    background-color: coral;
    color: darkolivegreen;     /*ctrl space*/
    font-weight: bold;
}
.ekgroup,h1{font-weight: bold;
    background-color: blue;

    color: darkolivegreen;     /*ctrl space*/
    
}
b
/*pseudo selector*/
.apple{       
    color: brown;
}
.apple:hover{
    background-color: azure;
    color: blueviolet;
    font-weight: 600;
}
.firstbox{
    background-color: red;
    
}
.secondbox{
    background-color:green;
   margin-left: 100px;
   /* display:none;                                control / */
   /* visibility: hidden; */
}
.thirdbox{ background-color: blue;
    margin-inline-start:200px;
    margin-block-start: -200px;
}
.square100{
    height:100px;
    width:100px;

}